# Common requirements #
Django==1.8.12
django-bootstrap3
django-admin-bootstrapped
django-macros==0.4.0
djangoajax==2.3.5
django-ckeditor==5.0.3

# Database specific requirements #
psycopg2==2.6.1

# Debug requirements #
six==1.10.0
sqlparse==0.1.19
django-debug-toolbar==1.4
django-extensions==1.6.1
django-mmc==1.6.1
