{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
  </script>  
  <a href="{% url 'subject_list'%}"><h2>Темы</h2></a><br>
  Последние добавленные:<br>
  <ul>
  {% for subject in latest_subjects %}
    <li><a href="{% url 'subject_detail' subject.id %}">
      {{ subject.pub_date}} &mdash; 
      {{ subject.text }}
    </a></li>
  {% endfor %}
  </ul>
  <br>
  <a href="{% url 'subject_new' %}">Добавить новую</a>
  <br><br>
  <a href="{% url 'question_list' %}"><h2>Вопросы</h2></a><br>
  Последние добавленные:<br>
  <ul>
  {% for question in latest_questions %}
    <li><a href="{% url 'question_detail' question.id %}">
      {{ question.pub_date}} &mdash; 
      {{ question.subject }} &mdash; 
      {{ question.text }}
    </a></li>
  {% endfor %}
  </ul>
  <br>
  <a href="{% url 'question_new' %}">Добавить новый</a>
  <br><br>
  <a href="{% url 'answer_list' %}"><h2>Ответы</h2></a><br>
  Последние добавленные:<br>
  <ul>
  {% for answer in latest_answers %}
    <li><a href="{% url 'answer_detail' answer.id %}">
      {{ answer.pub_date}} &mdash; 
      {{ answer.question }} &mdash; 
      {{ answer.text|safe }}
    </a></li>
  {% endfor %}
  </ul>
  <br>
  <a href="{% url 'answer_new' %}">Добавить новый</a>
{% endblock %}